@page "/"
@inject HttpClient HttpClient


<div class="main">
    <ul class="pizza-cards">
        @if (Specials != null)
        {
            foreach (var Special in Specials)
            {
                <li @onclick="@(() => ShowConfigurePizzaDialog(Special))"
                    style="background-image:url('@Special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@Special.Name</span>
                        @Special.Description
                        <span class="price">
                            @Special.GetFormattedBasePrice()
                        </span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@if(ShowingConfigureDialog)
{
    <ConfigurePizzaDialog Pizza="ConfiguringPizza"
                          OnCancel="CancelConfigurePizzaDialog"/>
}

@code{
    Pizza ConfiguringPizza;
    bool ShowingConfigureDialog;

    void ShowConfigurePizzaDialog(PizzaSpecial special)
    {
        ConfiguringPizza = new Pizza()
        {
            Special = special,
            SpecialId = special.Id,
            Size = Pizza.DefaultSize,
            Toppings = new List<PizzaTopping>(),
        };

        ShowingConfigureDialog=true;
    }

    List<PizzaSpecial> Specials;

    protected async override Task OnInitializedAsync()
    {
        Specials = await
            HttpClient.GetFromJsonAsync<List<PizzaSpecial>>("specials");

    }

    //Manejador de evento
    void CancelConfigurePizzaDialog()
    {
        ConfiguringPizza = null;
        ShowingConfigureDialog = false;
    }

}
