@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager


<div class="main">
    <ul class="pizza-cards">
        @if (Specials != null)
        {
            foreach (var Special in Specials)
            {
                <li @onclick="@(() => ShowConfigurePizzaDialog(Special))"
                    style="background-image:url('@Special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@Special.Name</span>
                        @Special.Description
                        <span class="price">
                            @Special.GetFormattedBasePrice()
                        </span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

<div class="sidebar">
    @if(Order.Pizzas.Any())
    {
        <div class="order-contents">
            <h2>Tu orden</h2>
            @foreach(var ConfiguredPizza in Order.Pizzas)
            {
                <ConfiguredPizzaItem Pizza="ConfiguredPizza"
                                     OnRemoved=
                                     "@(() => 
                                        RemoveConfigurePizzaDialog(ConfiguredPizza))"
                                     />
            }
        </div>
    }
    else
    {
        <div class="empty-cart">Selecciona una pizza 
        <br/> para empezar</div>
    }
    @*Cuando no haya pizzas oculta el total*@
<div class="order-total @(Order.Pizzas.Any()?"":"hidden")">
    Total:
    <span class="total-price">@Order.GetFormattedTotalPrice()</span>
    <button class="btn btn-warning"
            disabled="@(Order.Pizzas.Count == 0)" 
            @onclick="@PlaceOrder">
        Ordenar >
    </button>
</div>
</div>

@if(ShowingConfigureDialog)
{
    <ConfigurePizzaDialog Pizza="ConfiguringPizza"
                          OnCancel="CancelConfigurePizzaDialog"
                          OnConfirm="ConfirmConfigurePizzaDialog"/>
}

@code{
    Pizza ConfiguringPizza;
    bool ShowingConfigureDialog;

    void ShowConfigurePizzaDialog(PizzaSpecial special)
    {
        ConfiguringPizza = new Pizza()
        {
            Special = special,
            SpecialId = special.Id,
            Size = Pizza.DefaultSize,
            Toppings = new List<PizzaTopping>(),
        };

        ShowingConfigureDialog=true;
    }

    List<PizzaSpecial> Specials;

    protected async override Task OnInitializedAsync()
    {
        Specials = await
            HttpClient.GetFromJsonAsync<List<PizzaSpecial>>("specials");

    }

    //Manejador de evento
    void CancelConfigurePizzaDialog()
    {
        ConfiguringPizza = null;
        ShowingConfigureDialog = false;
    }

    Order Order = new Order();

    void ConfirmConfigurePizzaDialog()
    {
        Order.Pizzas.Add(ConfiguringPizza);
        ConfiguringPizza = null;
        ShowingConfigureDialog = false;
    }

    void RemoveConfigurePizzaDialog(Pizza pizza)
    {
        Order.Pizzas.Remove(pizza);
    }

    async Task PlaceOrder()
    {
        var Response=
        await HttpClient.PostAsJsonAsync("orders", Order);
        var NewOrderId =
            await Response.Content.ReadFromJsonAsync<int>();
        //Listo para otra orden
        Order = new Order();
        NavigationManager.NavigateTo($"myorders/{NewOrderId}");
    }
}
